header {
  background: #009578;
  color: #ffffff;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

header h1 {
  padding: 20px 0;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main section form {
  margin: 20px 0;
  background-color: #009578;
  padding: 20px;
}
